* {margin:0;padding:0;}
h4 {
  margin:0;
  padding:0;
}
html, body{
  color: #333;
  height:100%;
  background:#eee;
  overflow: hidden;
}
#menu {
    background:#ccc;
    width:220px;
    height:100%;
}

#menu ul {
    height: 100%;
    overflow: auto;
}            

html, body {
  height: 100%;
}

#content {
  height: 100%;
  width: 100%;
}

hr {
  padding: 0;
  margin: 10px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

.files-container {
  padding-top: 50px;
  height: 100%;
}

.files-list {
  overflow-y: auto;
  overflow-x: hidden;
}

.message-user {
  margin-right: 10px;
}

.file-link a {
  padding-left: 20px;
  color:rgba(52, 73, 94,0.8);
  font-size: 0.8em;
  cursor: pointer;
}

.file-link a:hover {
  padding-left: 20px;
  color:rgba(44, 62, 80,1.0);
  font-size: 0.8em;
  cursor: pointer;
  text-decoration:none;
}

.message-divider {
  border-color:#34495e;
}

#footer {
  position: fixed;
  bottom: 0px;
  height: 60px;
  padding-top: 1em;
}

.messages-container {
  height: 100%;
  position: relative;
}

.messages-list {
  padding-left: 15px;
  height: 80%;
  overflow: auto;
  list-style-type: none;
}

.file-upload {
  padding-left: 20px;
  margin-bottom: 15px;
}

hr.style-six {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.message {
  min-height: 30px;
}

.Detail {
  height: 100%;
}

.comment-box {
  height: 100%;
}

.course-search-input {
  color: #7f8c8d;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 5px;
  width: 90%;
}

#course-search-bar {
  padding-top: 10px;
  margin-left: 20px;
  padding-bottom: 20px;
}

.course-list-container > a {
  color: white;
}
.course-list-container {
  background-color: #1abc9c;
  height: 100%;
  margin-top: 20px;
  color: #ecf0f1;
}
.left-hand-wrapper {
  background-color: #16a085;
}
.home-link {
  text-decoration: none;
}
.home-link:hover {
  text-decoration: none;
}
.app-name {
  font-family: 'Bree Serif', serif;
  color: #ecf0f1;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
}

.course-list {
  height: 80%;
  overflow: auto;
  padding-bottom: 5px;
}

.course-course {
  padding-left: 10px;
}

.course-dept {
  cursor: pointer;
}

.course-link {
  padding-left: 30px;
  margin-right: 20px;
  min-height: 30px;
  line-height: 30px;
}

.course-nav-link {
  text-decoration:none;
  color: white;
}

.course-nav-link:hover {
  text-decoration:none;
  color: white;
}

.course-link:hover {
  padding-left: 30px;
  margin-right: 20px;
  background-color: #16a085;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  min-height: 30px;
  line-height: 30px;
}

.inner-addon { 
  position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.comment-box > h3 {
  margin: 0;
  padding: 0;
}

.comment-box > .course-name {
  padding-left: 15px;
  color: rgba(52, 73, 94,1.0);
  font-size: 1.8em;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.no-padding {
  padding: 0;
}
::-webkit-scrollbar {
  width: 12px;
}
 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.files-column {
}

.files-title {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 12px;
  background-color: rgba(189, 195, 199, 0.4);
  border-top-left-radius: 0.5em;
  margin-bottom: 20px;
}

.files-title > h4 {
  font-family: 'Bree Serif', serif;
  color: rgba(52, 73, 94,0.7);
  font-size: 1.5em;
}

.index-title {
  color: #7f8c8d;
}

.index-prompt {
  padding-top: 30px;
}
