* {margin:0;padding:0;}
h4 {
  margin:0;
  padding:0;
}
html, body{
  color: #333;
  height:100%;
  background:#eee;
  overflow: hidden;
}
#menu {
    background:#ccc;
    width:220px;
    height:100%;
}

#menu ul {
    height: 100%;
    overflow: auto;
}            

html, body {
  height: 100%;
}

#content {
  height: 100%;
  width: 100%;
}

hr {
  padding: 0;
  margin: 10px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

.files-container {
  height: 100%;
  overflow-y: auto;
}

.message-user {
  margin-right: 10px;
}

.file-link {
  font-size: 0.8em;
  cursor: pointer;
}

.message-divider {
  border-color:#34495e;
}

#footer {
  position: fixed;
  bottom: 0px;
  height: 60px;
  padding-top: 1em;
}

.messages-container {
  height: 100%;
  position: relative;
}

.messages-list {
  height: 80%;
  overflow: auto;
}

.file-upload {
  margin-bottom: 15px;
}

hr.style-six {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.message {
  min-height: 30px;
}

.Detail {
  height: 100%;
}

.comment-box {
  height: 100%;
}

.files-box {
}

.course-search-input {
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 5px;
  width: 100%;
}

#course-search-bar {
  padding-top: 10px;
  padding-bottom: 20px;
}

.course-list-container {
  height: 100%;
  padding-left: 30px;
  padding-top: 30px;
}

.course-list {
  height: 80%;
  overflow: auto;
}

.course-course {
  padding-left: 10px;
}

.course-dept {
  cursor: pointer;
}

.course-dept:hover {
  background-color: blue;
  color: white;
}

.inner-addon { 
  position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.comment-box > h3 {
  margin: 0;
  padding: 0;
}

.comment-box > .course-name {
  color: #666;
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.no-padding {
  padding: 0;
}
